/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 

*/

.block {
    background-color: pink;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid blue;
    box-sizing:  border-box;
    margin: auto;
}

.static {
    
    position:static;
    border:3px solid green;
    top:400px;
    left:50px;
}

.relative {
    
    position:relative;
    border:3px solid green;
    top:400px;
    left:50px;
    width: 400px;
    height:500px;
    
}

.fixed {
    
    position:fixed;
    border:3px solid green;
    top:150px;
    left:50px;

}

.absolute {
    
    position:absolute;
    border:3px solid green;
    top:80px;
    left:50px;
    width: 200px;
    height: 500px

}